html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: 'Titillium Web';
    color: #000000;
}

h3 {
    text-align: center;
}

.nav {
    padding-top: 50px;
    padding-bottom: 20px;
}

.menu {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.header__title {
    font-size: 55px;
    letter-spacing: .7rem;
    text-align: center;
    margin: 50px 0;
    font-weight: 900;
}

.intro__img {
    margin-top: 10px;
    width: 100%;
}

.intro__text, .books__description {
    text-align: justify;
}

.books {
    margin-top: 20px;
}

.books__description {
    font-weight: 400;
    font-size: 15px;
}

.books__item {
    padding: 20px;
    box-shadow: 0 0 1px black;
    border-radius: 5px;
}

.books__img {
    padding: 5px 0;
}

.books__name, .books__author {
    font-weight: 700;
}