body {
    font-family: 'Titillium Web';
}

header {
}

.nav {
    padding-top: 50px;
    padding-bottom: 20px;
}

.menu {
    text-align: right;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

.main-img {
    margin-top: 10px;
}

p{
    font-weight: 100;
}